@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
  @apply px-3 py-1 bg-blue-500 text-white rounded hover:bg-blue-600 transition;
}

.btn:disabled {
  @apply bg-gray-400 cursor-not-allowed;
}
